## Fundamentos de Python

* Variables
* Operadores matematicos básicos
* Operadores de comparación
* Operadores booleanos
* Condicionales simples
* Condicionales completos
* Operadores Anidados
* Condicionales encadenados
* Estructuras de datos
    - Cadenas de caracteres
    - Enteros
    - Flotanes
    - Listas
    - Tuplas
    - Diccionarios
* Estructuras de control
    - Ciclos finitos
    - Ciclos infinitos
    - Funciones
* Fundamentos de programación orientado a objetos

In [1]:
name = "Mis chicas"

In [2]:
name

'Mis chicas'

In [3]:
last_name = "Azócar Guzman"

In [6]:
# Ejemplo de lo que no se debe hacer
Name = "Mis Chicas"
Last_name = "Azócar Guzman"

In [7]:
last_name

'Azócar Guzman'

##### Operadores matemáticos

In [24]:
# Suma
number1 = 10
number2 = 20

result_suma = number1 + number2

In [25]:
print(result_suma)

30

In [26]:
print("El resultado de number 1 y number es", result_suma)

El resultado de number 1 y number es 30

In [ ]:
# Suma 2
number3 = 12.88
number4 = 2.5
resultado_suma2 = number3 + number4

In [28]:
print(resultado_suma2)

15.38

In [29]:
# Resta
number5 = 20
number6 = 12.55
resultado_resta = number5 - number6
print(resultado_resta)

7.449999999999999

In [30]:
print("El resultado de la suma es", result_suma)

El resultado de la suma es 30

In [ ]:
# Multiplicacion
number7 = 7
number8 = 14

result_producto = number7 * number8

print(result_producto)

98

In [36]:
print(f"El resultado del producto es: {result_producto}")

El resultado del producto es: 98

In [ ]:
# Division
number9 = 20
number10 = 10

result_div = number9/number10

print(f"El resultado de la division es: {result_div}")

El resultado de la division es: 2.0

#### Operadores de comparacion

In [40]:
# Mayor que >
# Menor que <
# Mayor o igual que >=
# Menor o igual que <=
# Igual que ==
# Diferente !=

In [41]:
# Ejemplos de comparaciones
3 > 2

True

In [ ]:
# Operadores booleanos
# True o False

In [42]:
result_div >= result_producto

False

In [44]:
"pedro" =="pedro"

True

In [45]:
"pedro" == "Pedro"

False

In [46]:
result_suma == resultado_suma2

False

#### Condicionales

In [ ]:
# if condition: 
#    Instrucciones 

# Condicional simple

if result_div <= result_producto:
    print("La division es menor que la multiplicacion")

La division es menor que la multiplicacion

In [52]:
# if condition: 
#    Instrucciones 

# Condicional compuesta
if result_div >= result_producto:
    print("La division es menor que la multiplicacion")
else:
    print("La division es mayor que la multiplicacion")

La division es mayor que la multiplicacion

In [70]:
# ladies night
genero = "Femenino"
age = 18
date_week = "Jueves"

print(genero)

Femenino

In [63]:
if date_week == "Jueves":
    if age >= 18:
         if genero == "Femenino":
             print("Es ladies night, Welcome")

NameError: name 'genero' is not defined

In [ ]:
# ladies night
genero = input("Ingrese su genero: ")
age = int(input("Ingrese su edad: "))
date_week = input("Ingrese el dia de la semana:")

if date_week == "Jueves":
    if age >= 18:
         if genero == "Femenino":
             print("Es ladies night, Welcome")
        else:
            print("No puede entrar gratis")
    else:
        print("No tiene la edad suficiente")
else:
     print("No es Jueves")

In [ ]:
# Condicionales encadenados
if date_week == "Jueves":
    print("Es Jueves")
elif date_week == "Viernes":
    print("Es Viernes")
elif date_week == "Sabado":
    print("Es Sabado")
elif date_week == "Domingo":
    print("Es Domingo")
else:
    print(" no es Jueves, ni Viernes, ni sabadi ni domingo")

Es Jueves

In [68]:
# Operadores Logicos
# and
# or
# not

if (date_week == "Jueves") and (genero == "Femenino"):
    print("Puede entrar gratis")

NameError: name 'genero' is not defined

In [69]:
if (date_week == "Jueves") or (date_week == "Jueves"):
    print("Puede entrar gratis")

Puede entrar gratis

### Tipos de datos en Python

In [1]:
name = "Josefino"

In [2]:
name.capitalie()

AttributeError: 'str' object has no attribute 'capitalie'

In [3]:
name.capitalize()

'Josefino'

In [4]:
name.count("o")

2

In [5]:
name

'Josefino'

In [6]:
name[1]

'o'

In [7]:
name [5]

'i'

### Listas

In [10]:
name_list = ["josefino", "Ruperto", "Mariano"]

In [12]:
# Lista de enteros
number_list = [1, 2, 3, 4, 5]

In [13]:
# Lista de floats
number_list = [1.0, 2.0, 3.0, 4.0, 5.0]

In [14]:
len(name)

8

In [15]:
len(name_list)

3

In [16]:
# Lista mixta
mixed_list = [1, 2.0, "Josefino", True]

In [17]:
# Agregar un elemento a la lista
name.list.append("Mariano")

AttributeError: 'str' object has no attribute 'list'

In [18]:
name_list.append("Maria Antonia")

In [19]:
name_list

['josefino', 'Ruperto', 'Mariano', 'Maria Antonia']

In [ ]:
# Revisar el ultimo elemento
name_list[-1]

'Maria Antonia'

In [21]:
name

'Josefino'

In [22]:
name = name.capitalize()

In [23]:
# Lista es mutable
name_list[0]

'josefino'

In [24]:
name_list[0] = "petra"

In [25]:
name_list

['petra', 'Ruperto', 'Mariano', 'Maria Antonia']

In [26]:
# Copia de lista
name_list2 = name_list.copy()

In [27]:
name_list2

['petra', 'Ruperto', 'Mariano', 'Maria Antonia']

In [28]:
# slice de listas
name_list[0:3]

['petra', 'Ruperto', 'Mariano']

In [29]:
name_list[2:3]

['Mariano']

In [30]:
# slice de listas con step
name_list[1::2]

['Ruperto', 'Maria Antonia']

In [31]:
last_name_list = [
                "perez"
                "gonzalez"
                "lopez"
                "sanchez"
]

### Diccionarios

In [33]:
# Estructura de datos de un diccionario
# Diccionario de claves y valores
dict_persona = {
    "nombre": "Josefino",
    "apellido": "perez",
    "edad": 25,
    "ciuidad": "santiago",
    "pais": "chile"
}

In [34]:
dict_persona["nombre"]

'Josefino'

### Tuplas

In [2]:
tuple1 = ("josefino", "perez", 25, "santiago", "chile")

### Ciclos

#### . Ciclo for

In [3]:
#ciclo for 
for nombre in name_list:
    print(nombre)

NameError: name 'name_list' is not defined

In [4]:
for nombre in name_list2:
    print(nombre)

NameError: name 'name_list2' is not defined

In [5]:
name_list

NameError: name 'name_list' is not defined

In [6]:
name_list = ["josefino", "Ruperto", "Mariano"]

In [7]:
for nombre in name_list:
    print(nombre)

josefino
Ruperto
Mariano

In [8]:
for name in name_list:
    print(name.capitalize())

Josefino
Ruperto
Mariano

In [10]:
# Ciclo para buscar a Ruperto
for name in name_list:
    if name == "Ruperto":
        print("Encontre a Ruperto")

Encontre a Ruperto

In [11]:
for name in name_list:
    if name == "Ruperto":
        print("Encontre a Ruperto")
        break

Encontre a Ruperto

In [13]:
for name in name_list:
    if name == "ruperto":
        print("Encontre a Ruperto")
    elif name == "maria antonia":
        print("Encontre a maria antonia")

In [16]:
# Ciclo con rango
for number in range(5):
    print(number)

0
1
2
3
4

In [17]:
# Ciclo con rango
for number in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [18]:
# ciclo con rango y step
for number in range(0, 10, 2):
    print(number)

0
2
4
6
8

In [ ]:
# ciclo for range y len
for number in range(len(name_list)):
    print(number)

0
1
2

In [21]:
cantidad = len(name_list)
print(f"cantidad de elementos : {cantidad}")
for number in range(cantidad):
    print(name_list[number])

cantidad de elementos : 3
josefino
Ruperto
Mariano

In [24]:
# Buscar a Ruperto en la lista
for name in range(len(name_list)):
    if name_list[name] == "Ruperto":
        print("Encontre a Ruperto en la posicion", name)
        break

Encontre a Ruperto en la posicion 1

In [23]:
name_list

['josefino', 'Ruperto', 'Mariano']

In [25]:
# Buscar a Mariano en la lista
for name in range(len(name_list)):
    if name_list[name] == "Mariano":
        print("Encontre a Mariano en la posicion", name)
        break

Encontre a Mariano en la posicion 2

In [26]:
name_list2 = "Mariano", "Mariano", "Ruperto", "Josefa"

In [ ]:
# Buscar a Mariano en la lista 2
for name in range(len(name_list2)):
    if name_list2[name] == "Mariano":
        print("Encontre a Mariano en la posicion", name)
        break

Encontre a Mariano en la posicion 0

In [28]:
# Buscar a Mariano en la lista 2
for name in range(len(name_list2)):
    if name_list2[name] == "Mariano":
        print("Encontre a Mariano en la posicion", name)

Encontre a Mariano en la posicion 0
Encontre a Mariano en la posicion 1